body{

    background-color: rgb(51, 52, 53);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
}
.titulo{
    font-size: 30px;;
}
img{
    width: 150px;
    height: 150px;
    margin-top: 15px;
    border-radius: 50%
}
.subtitle{
    font-size: 10px;
}
button{
    background-color: rgb(139, 139, 139);
    width: 150px;
    color: aliceblue;
    margin-bottom: 5px;
    border-radius:50px
}